@font-face {
  font-family: "iconfont"; /* Project id 4194394 */
  src: url('iconfont.woff2?t=1691024345667') format('woff2'),
       url('iconfont.woff?t=1691024345667') format('woff'),
       url('iconfont.ttf?t=1691024345667') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yinle:before {
  content: "\e62f";
}

.icon-wode:before {
  content: "\e628";
}

.icon-redu:before {
  content: "\e6ac";
}

.icon-xiayishou:before {
  content: "\e6ae";
}

.icon-bofang:before {
  content: "\e6af";
}

.icon-guanbishengyin:before {
  content: "\e6b0";
}

.icon-zanting:before {
  content: "\e6b1";
}

.icon-zuidayinliang:before {
  content: "\e6b2";
}

.icon-suishenting:before {
  content: "\e6b3";
}

.icon-yinliang:before {
  content: "\e6b4";
}

.icon-gedanbiaoqian:before {
  content: "\e6b9";
}

.icon-xiazaigedan:before {
  content: "\e6ba";
}

.icon-xiazaibendi:before {
  content: "\e6bc";
}

.icon-xiazaifangshi:before {
  content: "\e6bb";
}

.icon-shangchuanfangshi:before {
  content: "\e6bd";
}

.icon-shangchuangedan:before {
  content: "\e6be";
}

.icon-fenxiangyemian:before {
  content: "\e6bf";
}

.icon-fuzhilianjie:before {
  content: "\e6c0";
}

.icon-guanyu:before {
  content: "\e6c1";
}

.icon-wangluogequ:before {
  content: "\e6c2";
}

.icon-paihangbanggequ:before {
  content: "\e6c3";
}

.icon-kuaijin:before {
  content: "\e6c4";
}

.icon-bofanggedan:before {
  content: "\e6c5";
}

.icon-suijibofang:before {
  content: "\e6c6";
}

.icon-daotui:before {
  content: "\e6c7";
}

.icon-tuijiange:before {
  content: "\e6c8";
}

.icon-shangyishouge:before {
  content: "\e6c9";
}

.icon-xunhuanbofang:before {
  content: "\e6ca";
}

.icon-huanting:before {
  content: "\e6cb";
}

.icon-gedan:before {
  content: "\e6cc";
}

.icon-minus:before {
  content: "\e603";
}

.icon-eye:before {
  content: "\e604";
}

.icon-folder-open:before {
  content: "\e605";
}

.icon-fill:before {
  content: "\e606";
}

.icon-heart:before {
  content: "\e607";
}

.icon-download1:before {
  content: "\e608";
}

.icon-exit:before {
  content: "\e609";
}

.icon-left:before {
  content: "\e60a";
}

.icon-female:before {
  content: "\e60b";
}

.icon-image:before {
  content: "\e60c";
}

.icon-money:before {
  content: "\e60d";
}

.icon-image-backup:before {
  content: "\e60e";
}

.icon-folder-plus:before {
  content: "\e60f";
}

.icon-loading1:before {
  content: "\e610";
}

.icon-hint:before {
  content: "\e611";
}

.icon-information:before {
  content: "\e612";
}

.icon-menu:before {
  content: "\e613";
}

.icon-pause:before {
  content: "\e614";
}

.icon-ppt:before {
  content: "\e615";
}

.icon-plus:before {
  content: "\e616";
}

.icon-like:before {
  content: "\e617";
}

.icon-search:before {
  content: "\e618";
}

.icon-group:before {
  content: "\e619";
}

.icon-play:before {
  content: "\e61a";
}

.icon-right:before {
  content: "\e61b";
}

.icon-modify:before {
  content: "\e61c";
}

.icon-tag:before {
  content: "\e61d";
}

.icon-moon:before {
  content: "\e61e";
}

.icon-register:before {
  content: "\e61f";
}

.icon-settings:before {
  content: "\e620";
}

.icon-person-information:before {
  content: "\e621";
}

.icon-trophy:before {
  content: "\e622";
}

.icon-upload2:before {
  content: "\e623";
}

.icon-ranking:before {
  content: "\e624";
}

.icon-register2:before {
  content: "\e625";
}

.icon-location:before {
  content: "\e626";
}

.icon-shopping-cart:before {
  content: "\e627";
}

